@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

/* This will be covered in further sessions */
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

.bg-container {
    background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/nature-gallery-bg.png");
    min-height: 100vh;
    background-size: cover;
    padding: 20px;

}

.heading {
    padding: 10%;
    color: #323f4b;
    text-align: center;
}

.image-container {
    max-width: 455px;
    width: 100%;
    margin: auto;
    flex-direction: row;
    display: flex;
    background-color: #ffffff;
    height: 300px;
    overflow-x: scroll;
    
}

.img-element {
    height: 100%;
    width: 200px;
    padding: 20px;
    border-radius: 30px;
}
